spring:
  application:
    name: users_ms
    jwtSecret: "4A404E635266556A586E3272357538782F413F4428472D4B6150645367566B59"
    jwtExpirationInMs: "100000000"
  sql:
    init:
      mode: always
  jpa:
    hibernate:
      ddl-auto: none
    generate-ddl: false
    properties:
      hibernate:
        show_sql: false
        format_sql: false
        jdbc.lob.non_contextual_creation: true
        generate_statistics: false
    open-in-view: false
  datasource:
    driver-class-name: org.postgresql.Driver
    url: jdbc:postgresql://localhost:5432/db_parking_local?useSSL=false
    username: postgres
    password: "And__T..123@"
    hikari:
      maxLifetime: 1800000
      maximum-pool-size: 10
      minimum-idle: 1
      idle-timeout: 600000
      connection-timeout: 30000
      connection-test-query: SELECT 1
  flyway:
    baseline-on-migrate: true
    baseline-version: 0
    table: flyway_${spring.application.name}
    enabled: true
    outOfOrder: true
server:
  port: 9000
  error:
    include-stacktrace: never

# Configuración de Spring Boot Actuator
management:
  endpoints:
    web:
      exposure:
        include: health,info,metrics
      base-path: /actuator
  endpoint:
    health:
      show-details: always
  health:
    livenessState:
      enabled: true
    readinessState:
      enabled: true
    db:
      enabled: true
logging:
  level:
    org:
      springframework:
        web: debug

# Configuración de SpringDoc OpenAPI (Swagger)
springdoc:
  api-docs:
    path: /v3/api-docs
    enabled: true
  swagger-ui:
    path: /swagger-ui.html
    enabled: true
    try-it-out-enabled: true
  show-actuator: false
  packages-to-scan: com.webstore.usersMs.controllers
  paths-to-match: /**

